/ Chacking the source? That's awesome! You may want to check out my github if you're interested. I have a bunch of projects on there (including this site) and it's a good opportunity to get a better feel for how I do things. http://www.github.com/jnatalzia
!!! 5
%html
  %head
    %title Joklahoma
    %link{rel: "stylesheet", href: "stylesheets/main.css"}
  %body
    .content--main
      .row.row--info
        .info.row-content
          .info__confession
            .header--confession.roboto
              OK.
            .subheader
              so Joklahoma isn't real.
          .info__silver
            .silver__text
              Fortunately, there's a silver lining to the whole situation.
            .silver__text--emphasized
              I
              %span.roboto.azure actually
              do freelance web development.
            .silver__text
              Crazy right?
      .row-border--no-arrow
      .row.row--offer
        .offer.row-content.cf
          .header.roboto
            What can I offer you?
          .perk
            .perk__image--code
            .perk__header.roboto
              Web Development
            .perk__desc
              This is the bread and butter of what I do. Need a website thrown together for some reason (that isn&rsquo;t a homework assignment)? I&rsquo;d love to help with that. I&rsquo;m speedy and easy to work with (or so I hear). Let me know what you&rsquo;re thinking and we can work something out. And yeah. I do responsive stuff (resize your browser).
          .perk
            .perk__image--glasses
            .perk__header.roboto
              Web Consulting
            .perk__desc
              I&rsquo;ve been doing this for a good amount of time and I work full-time with one of the leading companies in web technologies. In other words, I know how to make things work the way they should. Better code, means better performance and ultimately happier customers. We&rsquo;ll look at your code together and find ways to improve your workflow as well as your output.
          .perk
            .perk__image--heart
            .perk__header.roboto
              A great customer experience
            .perk__desc
              Okay, so this one is a little bit of a given but this layout would have looked really strange with just 2 offers. But in all seriousness, my business relationships have always been fruitful for both parties, and I&rsquo;d love to make you another satisfied partner.
      .row-border
      .row.row--testimonials
        .testimonials.row-content
          .header--convinced.roboto
            Still not convinced?
          .subheader
            Here are some actual testimonials from people who aren't played by me.
          .testimonials__container.cf
            .testimonial
              .testimonial__quote
                [Joe is] a god of programming
              .testimonial__author
                Ryan Stush - Interactive Developer
            .testimonial
              .testimonial__quote
                When I saw web developer I thought hey, I know someone who's good at that!
              .testimonial__author
                Shaun Paduano - UX Designer at AKQA
          .work-link
            And of course here's a link to view some of my recent work
          .button
            The recent work link 
      .row-border--light-grey
      .row.row--contact
        .contact.row-content
          .header.roboto
            Ready now?!
          .button
            The contact me now link